/*
///
!!SELECTIVE STYLE NULLING
///
*/

/* Removing the underscore and blue color of all links */
a {
  color: inherit;
  text-decoration: none;
}

/* Specify box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove standard styling for all ul and il that have a class attribute*/
ul[class],
ol[class] {
  list-style: none;
}

/* Inherit fonts for intuitions and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Simplifying work with images */
img {
  max-width: 100%;
  display: block;
}

/* Remove internal indentation */
ul,
ol {
  padding: 0;
}

/* Remove the outside indentation */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/*
///
!!VARIABLES
///
*/

:root {
  --global-background-color: #B6AEA7;

  --main-text-color: #403F3D;
  --main-background-color: #E1D4C9;
  --main-decoration-color: #C1B6AD;

  --second-text-color: #E1D4C9;
  --second-background-color: #665F55;
  --second-decoration-color: #665F55;

  --third-text-color: #B0907A;
  --third-background-color: #403F3DCC;
}

/*
///
!!GLOBAL_STYLES
///
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--main-text-color);

  background-color: var(--global-background-color);
}

/*
///
!!HEADER
///
*/

.main-header {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;

  background-color: var(--main-background-color);
}

.main-navigation {
  display: flex;
  margin-top: 19px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  justify-content: space-between;

  user-select: none;
}

.main-navigation-list {
  display: flex;
  gap: 40px;
}

.main-navigation-item {
  display: flex;
  align-self: center;


  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.25px;
  /* Исправил шрифты в шапке 1-1 */
}

.main-navigation-link {
  position: relative;
}

.main-navigation-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 2px;

  background-color: var(--main-text-color);

  transform: scaleX(0);
  transition: 0.5s;
}

.main-navigation-link:focus::before,
.main-navigation-link:hover::before,
.main-navigation-link:active::before {
  transform: scaleX(1);
}

.menu-link-wrapper {
  position: relative;

  display: flex;
  align-self: center;
}

.menu-link {
  font-size: 16px;
  font-weight: 600;
}

.menu-link-icon {
  display: flex;
  width: 20px;
  height: 20px;
  padding-bottom: 4px;
  margin-left: 8px;

  background-image: url("./assets/icons/icon-coffee-cup.svg");
}

.menu-link-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 2px;

  background-color: var(--main-text-color);

  transform: scaleX(0);
  transition: 0.5s;
}

.menu-link-wrapper:focus::before,
.menu-link-wrapper:hover::before,
.menu-link-wrapper:active::before {
  transform: scaleX(1);
}

/*
///
!!MAIN
///
*/

.main {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;

  background-color: var(--main-background-color);
}

/*
///
!!ENJOY
///
*/

.enjoy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enjoy-wrapper {
  display: flex;
  flex-direction: column;

  width: 95%;
  max-width: 1360px;
  min-height: 644px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 100px;

  background-image: url("./assets/images//background-enjoy.png");
  border-radius: 40px;

  cursor: default;
}

.enjoy-header {
  width: 530px;
  height: 228px;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 40px;

  font-family: "Arial", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 75.6px;
  text-align: left;
  color: var(--second-text-color);
}

.enjoy-lead {
  font-style: italic;
  color: var(--third-text-color);
}

.enjoy-text {
  width: 530px;
  height: 72px;
  margin-left: 100px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--second-text-color);
}

.enjoy-button {
  display: flex;
  width: 200px;
  height: 64px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 100px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  background-color: var(--main-background-color);
  border-radius: 100px;

  cursor: pointer;
}

.enjoy-button:focus::after,
.enjoy-button:hover::after,
.enjoy-button:active::after {
  content: url("./assets/icons/icon-coffee-cup.svg");
  margin-left: 8px;
  transition: 0.5s;
}

/*
///
!!FAVORITES
///
*/

.favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  cursor: default;
}

.favorites-text-decorator {
  display: flex;
  width: 56%;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;

  color: var(--main-text-color);
}

.favorites-header {
  display: flex;
  flex-wrap: wrap;

  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 75px;
  text-align: center;

  color: var(--third-text-color);
}

.favorite-slider-wrapper {
  display: flex;
  width: 94%;
  max-width: 1360px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.favorite-button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 60px;
  height: 60px;

  background: transparent;
  border-radius: 100px;
  border: 1px solid var(--second-decoration-color);

  cursor: pointer;
}

.favorite-button-before {
  display: flex;
  width: 24px;
  height: 24px;
  align-self: center;

  background-image: url("./assets/icons/icon-arrow-left.svg");
}

.favorite-button:focus,
.favorite-button:hover,
.favorite-button:active {
  background-color: var(--second-decoration-color);
}

/* !!/// СДЕЛАТЬ АНИМАЦИЮ СТРЕЛОК */

.favorite-button-after {
  display: flex;
  width: 24px;
  height: 24px;
  align-self: center;

  background-image: url("./assets/icons/icon-arrow-right.svg");
}

.coffe-card {
  display: flex;
  flex-direction: column;
  cursor: default;
}

.image-coffee-slider-1 {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.coffe-card-header {
  margin-top: 21px;

  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;

}

.coffe-card-text {
  width: 475px;
  margin-top: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.coffe-card-price {
  display: flex;
  align-self: center;
  margin-top: 15px;

  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

.favorite-controls-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 40px;
}

.favorite-control {
  display: flex;
  width: 40px;
  height: 4px;

  background-color: var(--main-decoration-color);
  border-radius: 100px;

  cursor: pointer;
}

.favorite-control-current {
  background-color: var(--second-decoration-color);
}


/*
///
!ABOUT
///
*/

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1360px;
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
}

.about-header {
  margin-bottom: 40px;

  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: left;
  color: var(--main-text-color);
}

.about-header-decorator {
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 75px;
  text-align: left;
  color: var(--third-text-color);
}

.about-list {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1360px;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 100px;
}

.about-items-1 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about-items-2 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about-image {
  display: flex;

  border-radius: 20px;
}

.about-image-1 {
  display: flex;
  width: 660px;
  height: 590px;

  background: no-repeat center;
  background-image: url(./assets/images/image-about-1.jpg);
  background-size: 110%;

  transition: 0.5s;
}


.about-image-2 {
  width: 660px;
  height: 430px;

  background: no-repeat center;
  background-image: url(./assets/images/image-about-2.jpg);
  background-size: 110%;

  transition: 0.5s;
}


.about-image-3 {
  width: 660px;
  height: 430px;

  background: no-repeat center;
  background-image: url(./assets/images/image-about-3.jpg);
  background-size: 110%;

  transition: 0.5s;
}

.about-image-4 {
  width: 660px;
  height: 590px;

  background: no-repeat center;
  background-image: url(./assets/images/image-about-4.jpg);
  background-size: 110%;

  transition: 0.5s;
}

.about-image:hover,
.about-image:focus,
.about-image:active {
  background-size: 100%;

  transition: 0.5s;
}

/* /// */

/*
///
!APPLICATION
///
*/


/*
///
!FOOTER
///
*/

.main-footer {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;

  background-color: var(--main-background-color);
}